* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

button:focus {
	outline: none;
}

header {
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2.5rem;
	background: #00329e;
}

header h1 {
	margin: 0;
	color: white;
	font-size: 1.5rem;
}

header button {
	font: inherit;
	padding: 0.5rem 1rem;
	background: #f67722;
	border: 1px solid #f67722;
	color: white;
	border-radius: 6px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
	cursor: pointer;
}

header button:hover,
header button:active {
	background: #f3cc4b;
	border-color: #f3cc4b;
	color: #995200;
}

label {
	font-weight: bold;
	margin: 0.5rem 0;
	color: #464646;
}

input {
	font: inherit;
	border: 1px solid #ccc;
	padding: 0.4rem 0.2rem;
	color: #383838;
}

input:focus {
	outline: none;
	background: #fff1c4;
}

.btn {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: 1px solid #00329e;
	background: #00329e;
	color: white;
	border-radius: 6px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
	cursor: pointer;
	margin: 0 0.5rem;
}

.btn:hover,
.btn:active {
	background: #f67722;
	border-color: #f67722;
}

.btn--passive {
	color: #00329e;
	background: transparent;
	border: none;
	box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
	background: #aec6f8;
}

.btn--danger {
	background: #d30808;
	color: white;
	border-color: #d30808;
}

.btn--danger:hover,
.btn--danger:active {
	background: #ff3217;
	border-color: #ff3217;
}

.modal {
	position: fixed;
	z-index: 100;
	background: white;
	border-radius: 10px;
	width: 80%;
	top: 30vh;
	left: 10%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	display: none;
}

/* used */
.modal.visible {
	display: block;
	animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
	margin: 0;
	padding: 1rem;
	border-bottom: 1px solid #00329e;
	background: #00329e;
	color: white;
	border-radius: 10px 10px 0 0;
}

.modal .modal__content {
	padding: 1rem;
}

.modal .modal__actions {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

/* used for individual li */
.movie-element {
	margin: 1rem 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 10px;
	display: flex;
	height: 12em;
}

.movie-element h2,
.movie-element p {
	font-size: 1.25rem;
	margin: 0;
}

.movie-element h2 {
	color: #383838;
	margin-bottom: 1rem;
}

.movie-element p {
	color: white;
	display: inline;
	background: #f67722;
	padding: 0.25rem 1rem;
	border-radius: 15px;
}
/* used for image li */
.movie-element__image {
	flex: 1;
	border-radius: 10px 0 0 10px;
	overflow: hidden;
	background-color: lightgray;
}

.movie-element__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* used for h2 and p li */
.movie-element__info {
	flex: 2;
	padding: 1rem;
}

.card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

#entry-text {
	width: 40rem;
	margin: 2rem auto;
	max-width: 80%;
	padding: 1rem;
}

#entry-text p {
	font-size: 1.5rem;
	text-align: center;
}

#movie-list {
	list-style: none;
	width: 40rem;
	max-width: 90%;
	margin: 1rem auto;
	padding: 0;
}

#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 10;
	pointer-events: none;
	display: none;
}

#backdrop.visible {
	display: block;
	pointer-events: all;
}

#add-modal .modal__content {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.modal {
		width: 40rem;
		left: calc(50% - 20rem);
	}
}

@keyframes fade-slide-in {
	from {
		transform: translateY(-5rem);
	}
	to {
		transform: translateY(0);
	}
}
